[Desktop Entry]
Name=Ledger Live
Exec=ledger-live-desktop --disable-gpu --no-sandbox %U
Terminal=false
Type=Application
Icon=ledger-live-desktop
StartupWMClass=Ledger Live
X-AppImage-Version=2.80.0
Comment=Ledger Live - Desktop
MimeType=x-scheme-handler/ledgerlive;
Categories=Finance;