[Unit]
Description=Disable swapfile after resuming from hibernation during suspend
After=suspend.target

[Service]
User=root
Type=oneshot
ExecStart=/usr/sbin/swapoff /swap/swapfile

[Install]
WantedBy=suspend.target
